@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");

:root {

  --background: #04BF33;
  --text: #1D438A;
  --border: #D9984A;
  --border-hover: #04BF33;
  --backgroundHover: #F20F22;
  --textHover: #A0A603;

}

* {
  box-sizing: border-box;
  font-family: "Raleway", serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background);
  padding: 1rem;
  color: var(--text);
  height: 100%;
  width: 100%;
  min-width: 320px;
}

.content {
  margin: 0 auto;
  max-width: 768px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.title {
  font-size: 25px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.movement {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 0.25rem;
}

.available {
  border-radius: 50%;
  box-shadow: inset 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2),
    inset -0.25rem -0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  font-size: 18px;
  padding: 0.5rem 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 320px;
  height: fit-content;
  padding: 10px;
  margin: 0 auto;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.card {
  background-color: var(--backgroundHover);
  border: 0.2rem solid var(--border);
  border-radius: 0.25rem;
  cursor: pointer;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 500ms ease-in-out;
  max-width: 27%;
}

.card--picked {
  transform: rotateY(180deg);
}

.card--guessed {
  background-color: var(--backgroundHover);
  transform: rotateY(180deg) scale(0.9);
}

.card__front,
.card__back {
  align-items: center;
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 1rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: transform 330ms ease-in-out;
  width: 100%;
}

.card__front {
  flex-direction: column;
  transform: rotateY(-180deg);
}

.card__back {
  background-color: var(--backgroundHover);
  transform: rotateY(0);
}

.front__img {
  margin-bottom: 0.5rem;
  width: 7rem;
}

.back__img {
  width: 6rem;
}

.card__name {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: capitalize;
}

/* Modal */
.modal {
  align-items: center;
  backdrop-filter: blur(0.2rem);
  background-color: var(--background);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(100%);
  transition: all 270ms ease-in;
}

.modal--open {
  opacity: 1;
  transform: translateY(0);
}

.modal-container {
  align-items: center;
  background-color: var(--white);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  max-width: 20rem;
  padding: 1rem;
  width: 100%;
}

.modal-title {
  color: var(--dark-gray);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1rem;
}

button {
  background-color: var(--blue);
  border: 0.15rem solid var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: all 270ms ease-in;
  width: 25%;
}

button:hover,
button:active {
  background-color: var(--white);
  color: var(--blue);
}